*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


.navBar{
    height: 10vh;
    width: 80vw;
    background: transparent;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link{
    list-style-type: none;
}

.home{
min-height: 100vh;
background-size: cover;
background-position: center;
}

body{
    padding: 0;
    margin: 0;
    background: url(img/dragon-ball-significan-nombres-personajes-1858451.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    
}
    


